#line_blogs {
  margin-left: -5.271vw;
  height: 0;
  margin-top: 1.098vw;
  width: 85.139vw;
  border: 0.073vw solid #08e5a9;
}
.blog_main {
  width: 95.388vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2.343vw;
  margin-top: 1.903vw;
}
.blogcard {
  width: 20.205vw;
  margin-top: 2.782vw;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
}
.imagebox {
  width: 20.205vw;
  cursor: pointer;
  position: relative;
  height: 15.227vw;
}
.image_blog {
  width: 100%;
  height: 100%;
}
.blogpara {
  position: absolute;
  margin: 0;
  top: 12.884vw;
  border-radius: 0.952vw;
  left: 7.76vw;
  cursor: pointer;
  background: #ffffff;
  padding-left: 1.171vw;
  padding-right: 1.171vw;
  text-decoration: underline;
  font: normal normal normal 0.732vw/1.171vw Poppins;
  color: #3d3d3d;
  transition: opacity 0.2s, visibility 0.2s;
  padding-top: 0.146vw;
  padding-bottom: 0.146vw;
  visibility: hidden;
}
.imagebox:hover .blogpara {
  visibility: visible;
}
.blogHeading {
  width: 18.741vw;
  margin-top: 0.732vw;
  margin-left: 0.732vw;
  height: auto;
  text-align: left;
  font: italic normal bold 1.098vw/1.684vw Poppins;
  color: #3d3d3d;
}
.name_time {
  margin-top: 1.464vw;
  margin-left: 0.732vw;
  display: flex;
  justify-content: space-between;
  width: 18.741vw;
  height: 1.098vw;
}
.name_time p {
  width: auto;
  font: normal normal normal 0.732vw/1.171vw Poppins;
  height: 1.098vw;
  margin-top: 0;
  color: #3d3d3d;
}
.load_more_blogs {
  width: 10.615vw;
  height: 2.928vw;
  background: #08e5a9;
  border: #08e5a9;
  margin-left: 44.656vw;
  outline: none;
  cursor: pointer;
  font: normal normal normal 0.952vw/1.464vw Poppins;
  color: #1d1d1d;
  margin-top: 2.196vw;
}
.add_blog {
  margin-left: 2.343vw;
  margin-top: 2.269vw;
  width: 95.315vw;
  height: 4.758vw;
  border: 0.073vw solid #08e5a9;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  color: #3d3d3d;
  transition-duration: 0.5s;
}
.add_blog:hover {
  background: #08e5a9;
  font: normal normal normal 0.978vw/1.318vw Poppins;
}
@media (max-width: 768px){
  .add_blog
  {width: 90.315vw;
  margin-left: 5.343vw;}
  .blog_main{
    width: 88.388vw;
    justify-content: space-between;
    margin-left: 6.343vw;
  }
  .load_more_blogs{
    margin-top: 4.196vw;
  }
  
}
@media (max-width:425px){
  .load_more_blogs{
    width: 12.615vw;
    height: 4.928vw;
    background: #08e5a9;
    border: #08e5a9;
    margin-left: 44.656vw;
    outline: none;
    cursor: pointer;
    font: normal normal normal 1.3vw/1.464vw poppins;
  }
  .name_time p {
    font: normal normal normal 1vw/1.171vw Poppins;
    
  }
  .name_time{
    width: auto;
    margin-right: 1vw;
  }
  .blogHeading{
    width: auto;
    margin-top: 0.732vw;
    margin-left: 0.732vw;
    height: auto;
    margin-right: 1vw;
    text-align: left;
    font: italic normal bold 1.1vw/1.684vw Poppins;
    color: #3d3d3d;
  }
  .blog_main {
    width: 65.388vw;
    justify-content: space-between;
    margin-left: 19.343vw;
}
.add_blog{
  font:normal normal normal 1.3vw/1.318vw Poppins
}
.imagebox{
  width: 26.205vw;
    cursor: pointer;
    position: relative;
    height: 19.227vw;
}
.blogcard{
  width: 26.205vw;
    margin-top: 3.782vw;
    height: auto;
}

}