.Header_three {
  width: 100vw;
  height: 4.392vw;
  display: flex;
}
.header_three_left {
  width: 28.258vw;
  height: 2.782vw;
  margin-left: 2.343vw;
  margin-top: 0.805vw;
  display: flex;
}
.header_three_left p {
  width: 3.587vw;
  height: 0.805vw;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  color: #3d3d3d;
}
.small_logo_box {
  margin-left: 0.366vw;
  width: 24.305vw;
  height: 2.782vw;
  box-shadow: 0px 3px 6px #00000029;
  background: #e5d7d7;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow: hidden;
}
.small_logo_box ul{
  height: 100%;
    margin: 0;
    list-style: none;position: absolute;
    padding-left: 0;
    display: flex; cursor: pointer;
    justify-content: space-between;width:135%; transition-duration: 2s;
}
.small_logo_box ul:hover{
left: -95%;
}
.small_logo_box ul li {
  height: 2.5vw;
  width: 2.5vw;
  margin-top: 0.5%;
  border-radius: 50%;
  margin-left: 2%;
}
.small_logo_box ul li img{
  height: 100%;
  width: 100%;
}
.header_three_center {
  margin-left: 6.515vw;
  margin-top: 0.805vw;
  width: 35.578vw;
  overflow: hidden;
  height: 2.782vw;
  background: #e5d7d7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.header_three_center ul {
  height: 100%;
  margin: 0;
  list-style: none;position: absolute;
  padding-left: 0;
  display: flex; cursor: pointer;
  justify-content: space-around;width:150%;
  margin-top: 2.4%; transition-duration: 2s;

}
.header_three_center ul:hover{
  left: -95%;
  }
.header_three_center ul li{
  width: auto;
font: normal normal normal 0.878vw/1.318vw Poppins;
font-weight: 200;
color: #7D7D7D;
}
.header_three_right {
  width: 16.179vw;
  height: 2.343vw;
  display: flex;
  margin-left: 8.638vw;
  margin-top: 1.025vw;
}
.mail {
  text-align: right;
  width: 100%;
  height: 1.318vw;
  justify-content: right;
  display: flex;
  cursor: pointer;
}
.mail p {
  width: 100%;
  height: 1.318vw;
  text-align: right;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  color: #5d5d5d;
}
#Header3Icon{
    font-size: 0.586vw;
    margin-top: 0.952vw;
    margin-left: 0.512vw;
}
.image_user{
    height: 2.343vw;
    width: 2.343vw;
    border: 0.007vw solid #08E5A9;
    margin-left: 0.586vw;
    border-radius: 50%;
}
.image_userimage{
  height: 2.243vw;
  width: 2.143vw;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0vw;
  margin-top: -0.5vw;
}