.billinginfobox {
  width: 90.630vw;
  height: auto;
  border: 0.073vw solid #08e5a9;
  margin-left: 4.685vw;
  margin-top: 5%;
}
.details_billing {
  height: auto;
  width: 100%;
  display: flex;
}
label{
  line-height:1.2;
  font :normal normal normal 0.878vw/1.318vw Poppins
}
.detail_add_billing {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 1%;
  padding-bottom: 3%;
  justify-content: space-evenly;
}
.first_bill_box {
  width: 20.425vw;
  height: 17.277vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.second_bill_box {
  width: 41.874vw;
  flex-direction: column;
  height: auto;
  display: flex;
}
.head_bill_reciever {
  width: 100%;
  height: auto;
  text-align: center;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  color: #3d3d3d;
}
.input_box {
  width: 100%;
  border: 0.073vw solid #08e5a9;
  height: 2.782vw;
  padding: 0.732vw;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  cursor: pointer;
  outline: none;
  margin-bottom: 4%;
}
.input_box::placeholder {
  color: #9d9d9d;
}
.check_box {
  width: 100%;
  height: auto;
  border: black;
}
.containerCheck {
  display: block;
  position: relative;
  color: #3d3d3d;
  cursor: pointer;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  -webkit-user-select: none;
  padding-left: 1.977vw;
  margin-top: 1%;
}
.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.318vw;
  width: 1.318vw;
  background-color: #eee;
}
.containerCheck:hover input ~ .checkMark {
  background-color: #ccc;
}
.containerCheck input:checked ~ .checkMark {
  background-color: black;
}
.checkMark::after {
  content: "";
  position: absolute;
  display: none;
}
.containerCheck input:checked ~ .checkMark::after {
  display: block;
}
.containerCheck .checkMark::after {
  left: 0.5vw;
  top: 0.1vw;
  width: 0.439vw;
  height: 0.805vw;
  border: solid white;
  border-width: 0 0.146vw 0.146vw 0;
  transform: rotate(45deg);
}
.insidebox_secondbill {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 2.2%;
  margin-top: -0.073vw;
  justify-content: space-between;
}
.second_input_box {
  width: 20.425vw;
  border: 0.073vw solid #08e5a9;
  height: 2.782vw;
  padding: 0.732vw;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  cursor: pointer;
  outline: none;
}
.second_input_box::placeholder {
  color: #9d9d9d;
}
.dropdown_box {
  width: 20.425vw;
  border: 0.073vw solid #08e5a9;
  height: 2.782vw;
  padding: 0.732vw;
  cursor: pointer;
  outline: none;
}
#country_name {
  width: 100%;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  border: none;
  outline: none;
  color: #9d9d9d;background: white;
  cursor: pointer;
}
#country_name option {
  color: black;
}
.finaladdress {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 0.073vw solid #08e5a9;
  padding: 2%;
}
.finaladdress p {
  margin-bottom: 0.2%;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  color: #5d5d5d;
  width: 100%;
  height: auto;
}
.save_cont_billing {
  width: 12.299vw;
  height: 2.782vw;
  font: normal normal normal 0.878vw/1.318vw Poppins;
  background: white;
  outline: none;
  color: #08e5a9;
  border: 0.146vw solid #08e5a9;
  margin-left: 36%;
  cursor: pointer;
  margin-top: 5%;
}
.third_bill_box {
    width: 23.353vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
.inside_box_third{
    width: 100%;
    height: auto;
    margin-top: 4%;
    justify-content: space-between;
    display: flex;
}
.para1_insidethird{
    margin: 0;
    text-align: right;
    height: auto;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    width: 52%;
    color: #3D3D3D;
}
.para2_insidethird{
    width: 44%;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #3D3D3D;
    height: auto;
}
.discountbox{
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 4%;
}
.discountcode{
    width: 64%;
    border: 0.073vw solid #08E5A9;
    padding: 0.439vw;
    height: auto;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    outline: none;
    cursor: pointer;
}
.applycode{
    text-decoration: underline;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    margin-top: 2.5%;
    margin-left: 4%;
    width: auto;
    cursor: pointer;
    height: auto;
    color: #5D5D5D;
}
#bill_line{
    width: 20.059vw;
    height: 0;
    border: 0.073vw solid #BDBDBD;
    margin-top: 6%;
}
@media (max-width: 768px){
  .countrybox_edit{
    margin-top: -1vw;
  }
  .containerCheck {
    font: normal normal normal 1.5vw/1.318vw Poppins;
}

  .detail_add_billing{
    flex-direction: column;
  }

  .head_bill_reciever{
    font-size: 1.8vw;
    margin-top: 3vw !important;
  }
  
  .first_bill_box{
    width: 100%;
    height: auto;
  }

  .input_box{
    width: 80%;
    height: 6vw;
    font-size: 1.8vw;
    margin-left: 8vw;
    padding-left: 2vw;
  }

  .check_box{
    width: 80%;
    margin-left: 8vw;
  }

  .second_bill_box{
    width: 100%;
    height: auto;
  }

  .insidebox_secondbill{
    width: 90%;
    height: 6vw;
    font-size: 1.8vw;
    padding-left: 2vw;
  }

  .second_input_box{
    width: 65%;
    height: 6vw;
    font-size: 1.8vw;
    margin-left: 6vw;
    padding-left: 2vw;
  }

  .dropdown_box{
    height: 6vw;
    width: 25%;
  }

  .countrybox_edit{
    margin-top: 0.5vw;
  }

  #country_name{
    font-size: 1.6vw;
  }

  .finaladdress{
    width: 81%;
    margin-left: 8vw;
  }
  .finaladdress p{
    font-size: 1.5vw;
    margin-bottom: 1.75vw;
  }
  
  .save_cont_billing{
    width: 18vw;
    height: 4.5vw;
    margin-top: 1vw;
    margin-left: 35vw;
    font-size: 1.8vw;
  }

  .third_bill_box{
    width: 80%;
    margin-left: 8vw;
    margin-top: 5vw;
  }

  .cart_thirdbox_end{
    display: flex;
    width: 100%;
  }

  .billing_third{
    width: 50%;
  }
  .para1_insidethird{
    font-size: 1.8vw;
  }

  .para2_insidethird{
    font-size: 1.8vw;
  }

  .discountcode{
    width: 80%;
    font-size: 1.6vw;
    height: 4vw;
  }

  .applycode{
    font-size: 1.8vw;
  }

  #bill_line{
    width: 70vw;
  }
}
@media(max-width:425px){
  .checkMark {
    height: 2vw;
    width: 2vw;
    margin-right: 2vw;
  }
  .countrybox_edit {
    margin-top: -2.5vw;
}
.first_bill_box{
  height: fit-content;
}
#country_name{
  font: normal normal normal 2vw/1.318vw Poppins;
  margin-top: 5vw;
}

.finaladdress{
  width: 90%;
  margin-left: 5vw;
  margin-bottom: 3vw;
}

.finaladdress p{
  font: normal normal normal 3.5vw/3.6vw Poppins;
}
.save_cont_billing{
  margin-top: 4vw;
  margin-left: 5vw;
    width: 80vw;
    height: 10vw;
    font: normal normal normal 4vw/1.318vw Poppins;
}
.input_box{
  width: 90%;
  border: 0.073vw solid #08e5a9;
  height: 10vw;
  padding: 0.732vw;
  padding-left: 4vw;
  font: normal normal normal 4vw/1.318vw Poppins;
  cursor: pointer;
  outline: none;
  margin-bottom: 4%;
  margin-left: 4vw;
}
  .dropdown_box{
    height: 10vw;
    width: 28%;
  }
  .containerCheck{
    font: normal normal normal 2.8vw/3vw Poppins;
    margin-left: 2vw;
  }

.head_bill_reciever{
  font-size: 3vw;
  height: auto;
  margin-bottom: 5vw;
}

.second_bill_box{
  margin-top: 5vw;
}

.insidebox_secondbill{
  width: 95%;
  height: 10vw;
  font-size: 1.8vw;
  padding-left: 2vw;
  margin-bottom: 4vw;
}

.second_input_box{
  width: 65%;
  height: 10vw;
  font-size: 3.5vw;
  margin-left: 3vw;
  padding-left: 2vw;
}

.para1_insidethird{
  font-size: 3.5vw;
}

.para2_insidethird{
  font-size: 3.5vw;
}

.cart_thirdbox_end{
  flex-direction: column;
}

.billing_third{
  width: 100%;
}

.discountbox{
  margin-top: 5vw;
}
.discountcode{
  width: 80%;
  font-size: 3vw;
  padding-left: 2vw;
  height: 8vw;
}

.applycode{
  font-size: 3vw;
}
}
@media(max-width:375px){
  .countrybox_edit {
    margin-top: -3.5vw;
}
#country_name{
  margin-top: 3.5vw;
}
}
