.netboxmain{
    margin-left: 10%;
    height: auto;
    margin-top: 5%;
}
.netbanking{
    height: auto;
    margin-bottom: 0;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    color: #3d3d3d;
    width: 100%;
}

.banklogosbox{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 7%;
    width: 100%;
    padding: 0;
}
.bankindividual{
    height: 5vw;
    width: 100%;
}
#bankimage{
    height: 5vw;
    width: 10vw;
    margin-top: -5vw;
    margin-left: 0.878vw;
}
#banklogo{
    height: 5.5vw;
}
#bankimage1{
    height: 5.051vw;
    width: 9vw;
    margin-top: -5vw;
    margin-left: 0.878vw;
}
#bankimage2{
    height: 3vw;
    width: 10vw;
    margin-top: -3vw;
    margin-left: 0.878vw;
}
#banklogo1{
    height: 3.9vw;
}