body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  transition: all 0.2s ease;
}
html{
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wishlist-icon, .compare-icon{
  transition: all 0s ease;
}
.wishlist-icon:hover{
  color: red !important;
}
.compare-icon:hover{
  color: rgb(7, 168, 7) !important;
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
  .two-col-banner{
    justify-content: center;
    align-items: center;
    height: 100%!important;
  }
  .two-col-banner .two-banner{
    width: 45%;
    height: 30vh;
    margin: 1em;
  }
  .two-col-banner .one-banner{
    width: 95% !important;
    height: 45vh;
    margin: 1em;
  }

  @media (max-width: 768px){
    .two-col-banner{
      display: block
    }
    .two-col-banner .two-banner{
      width: 95%;
      height: 35vw;
      margin: 1em;
    }
  }
