.line03Box {
  width: 12.079vw;
  border: 0.073vw solid #dbdde4;
  height: 0;
  margin: 0;
}
.line04Box {
  border: 0.073vw solid #5d5d5d;
  width: 9.004vw;
  height: 0;
  margin: 0;
}
.line05Box {
  width: 61.859vw;
  border: 0.073vw solid #dbdde4;
  height: 0;
  margin: 0;
}
